<ul>
  <% if !positions || positions.empty? %>
    <p>No pending reviews</p>
  <% else %>
    <% for position in positions %>
      <%# TODO: More info %>
      <li>
        <%= position.applicant.name %>
        <% if position.course %>
          <%= position.course.full_name %>
        <% end %>
        <%= link_to('Review', edit_position_path(position)) %>
      </li>
    <% end %>
  <% end %>
</ul>
