<% if !positions || positions.empty? %>
  <p>No pending reviews</p>
<% else %>
  <table class="table table-striped table-hover clickable">
    <thead>
      <tr>
        <th>Student Name</th>
        <th>Course</th>
        <th>Applied</th>
      </tr>
    </thead>
    <tbody>
      <% for position in positions %>
        <% next unless position.applicant %>
        <% next unless position.course %>
        <tr id="<%= position_path(position) %>">
          <td><%= link_to(position.applicant.name, position) %></td>
          <td><%= position.course.full_name %></td>
          <td><%= position.created_at.strftime(DATE_FORMAT) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
