<h2><%= @name %>,</h2>

<h3>You can view or edit your application by going to
<a href="<%= @link %>">this link</a></h3>

<p>
Thank you for submitting your application to be a Peer Tutor at the
Academic Success Center. The <%= 'professor'.pluralize(@count) %> listed in
your application has been notified of your request for their
recommendation. Your application is currently pending and will be ready for
review by the ASC once your faculty recommendation has been submitted.
</p>

<p>
Thank you,
ASC Staff
</p>
