/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'bootstrap';

body {
  padding-top: 60px;
}

th .current {
  padding-right: 15px;
  background-repeat: no-repeat;
  background-position: right center;
}

th .asc {
  background-image: url(/images/up.png);
}

th .desc {
  background-image: url(/images/down.png);
}

table.clickable tbody tr {
  cursor: pointer;
}

.field_with_errors {
  @extend .has-error;
  display: inline;
}

#error_explanation, #alert {
  @extend .bs-callout;
  @extend .bs-callout-danger;
}

#notice {
  @extend .bs-callout;
  @extend .bs-callout-info;
}

.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;

  h2, h4 {
    margin-top: 0;
    font-size: 16px;
  }

  p:last-child {
    margin-bottom: 0;
  }
  code, .highlight {
    background-color: #fff;
  }
}

.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}

.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}

.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}

div#class {
  padding-bottom: 10px;
}

div.container#main {
  padding-bottom: 50px;
}

.static-center{
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
};

#thanks {
  font-size: 20px;
  margin-top: 30px;
}
