<h1>Listing emails</h1>

<table class="table table-hover table-striped clickable">
  <thead>
    <tr>
      <th>Description</th>
      <th>Subject</th>
      <th>Reply to</th>
    </tr>
  </thead>

  <tbody>
    <% @emails.each do |email| %>
      <tr id="<%= email_path(email) %>">
        <td><%= email.description %></td>
        <td><%= email.subject %></td>
        <td><%= email.reply_to %></td>
      </tr>
    <% end %>
  </tbody>
</table>
